@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #cce0ff;
    font-size: 80%;
    background: #E6EEFF;
}


.ugi_logo {
    margin: 3rem 0rem 3rem 0rem;
}

.ugi_image {
    margin: auto;
    display: block;
    
    height: 4rem;
    width: 5rem;
    left: auto;
    right: auto;
    
    
}

.total {
    margin: auto;
    padding: 2rem;
    width: 25rem;
    border-radius: 1rem;
    border-color: grey;
    text-align: center;
    background: #E6EEFF;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.15);
    padding: auto;
    font-size: 90%;

}

.text1 {
    color: #324567;
    /* font-size: 180%; */
    margin: 1rem 0rem;
}

.text2 {
    color: #7889A4;
    margin: 1rem 0rem;
}

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}



input[type=number], input[type=password] {
  width: 5rem 0rem;
  padding: 1rem;
  margin: 0.6rem 3rem;
  display: inline-block;
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;
  border: #0000e6;


    background: rgba(230, 238, 255, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    outline-color: blue;
}

button {
  color: white;
  padding: 1rem 3rem;
  margin: 0.4rem 5.8rem;
  border: none;
  border-radius: 1rem;
  /* cursor: pointer; */
  width: 11rem;
  background: #40578D;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

button:hover {
  opacity: 0.8;
}





.container {
  padding: 1em;
  color: #324567;
}



a {
    text-decoration: none;
    color: #324567;
}

@media screen and (max-width: 300px) {
  
}



#select-college {
    width: 50%;
  padding: 12px 20px;
  margin: 2% 25%;
  display: inline-block;
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: center;
  border: #0000e6;


    background: rgba(230, 238, 255, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}